/.env
config.*.yaml
config.yaml
!config.example.yaml
/runs/
/projects/
/.venv/
/.pycache/
/.uv-cache/
/.uv-python/
/dist/
/*.egg-info/
__pycache__/
*.py[cod]
.DS_Store
/.pytest_cache/
/.ruff_cache/
/.eggs/
/*.log
*.lock
biocypher-log/
/build/
/mappings/
/uv.lock